# Ignore git history
.git
.gitignore

# Editor & tools
.vscode
.idea
.github

# Test directories
05-backend/internal/shared/test/*
*/tests/*

# Docs/examples
*.sh
*.md

# Cache files
*.log

# Local environment files
.env*

# Configs
*.Dockerfile
Dockerfile.*
docker-compose*.yaml