# IDE
.idea

# Binary files
*.bin
*.crt

# Proto
*.pb.go

# Temporary directories
*/temp
*/tmp
*tmp
.run

# Environment files
.env*
!.env.example

# Test files
*.test
ginkgo-test-cover.profile
ginkgo-test-report.json